{% extends "Base.html"%}
{%block body%}
<h3> About us </h3>
 <p> Bharat Cold Storage Limited is a 1 year 2 days old Private Company incorporated on 01 Sep 2021. Its registered office is in Allahabad, Uttar Pradesh, india.
The Company's status is Active. It's a company limited by shares having an authorized capital of Rs 10.00 lakh and a paid-up capital of Rs 1.00 lakh as per MCA.
2 Directors are associated with the organization. Name 1  and Name 2 are presently associated as directors.<br>
    Business annual 60 Lake, tenure, experience, profitability shall be checked and defined by the lender
Interest rates and other charges
    Good financial history and repayment capability
    Credit score: 750 or above <br/>
The largest and longest study to date, done as part of the Harvard-based Nurses Health Study and Health Professionals Follow-up Study, included almost 110,000 men and women whose health and dietary habits were followed for 14 years.
 </p>
{%endblock body%}