{% extends "Base.html"%}
{%block body%}
    <h3 style="color:#009632; text-align:center;">
    This is Farmer Registration Form
    </h3>
    {%if msg %}
        <p style="text-align:center;"> {{ msg }}</p>
    {% endif %}
 <form action="{% url 'freg' %}" method="post">
     {% csrf_token %}
     <div class="row py-3">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Enter your name: <span style="color:red;">*</span> </label>
                <input type="text" name="name" class="form-control" placeholder="Enter your name.." required="true">
            </div>
            <div class="form-group">
                <label>Gender:<span style="color:red;">*</span> </label><br/>
                <input type="radio" name="gender" value="Male" />Male <br/>
                <input type="radio" name="gender" value="Female" />Female
            </div>
            <div class="form-group">
                <label>Enter Address:</label>
                <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label> Enter Contact Number: </label>
                <input type="number" name="contactno" class="form-control" >
            </div>
            <div class="form-group">
                <label>Enter Aadhaar Number: <span style="color:red;">*</span> </label>
                <input type="number" name="aadhaarno" class="form-control">
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" name="Submit" class="btn bg-success d-grid gap-2 col-3 mx-auto text-light">
            </div>
        </div>
        <div class="col-sm-3"></div>
     </div>
 </form>
{%endblock body%}