{% extends "Base.html" %}
{%block body%}
 <h3 style="color:black; text-align:center;" > Product Service  </h3>
    <div class="row ">
      <div class="col-sm-12 p-2">
        <div class="row">
          <div class="col-sm-4">
            <div class="card" style="width:auto;">
                <img src="static/image/s10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Vegetables and fruits are an important part of a healthy diet, and variety is as important as quantity.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="card" style="width:auto;">
                <img src="static/image/s11.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width:auto;">
                <img src="static/image/s12.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">No single fruit or vegetable provides all of the nutrients you need to be healthy. Eat plenty every day.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 p-2">
        <div class="row">
          <div class="col-sm-4">
              <div class="card" style="width:auto;">
                <img src="static/image/s12.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">No single fruit or vegetable provides all of the nutrients you need to be healthy. Eat plenty every day.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
           <div class="card" style="width:auto;">
                <img src="static/image/s9.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">No single fruit or vegetable provides all of the nutrients you need to be healthy. Eat plenty every day.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="width:auto;">
                <img src="static/image/s10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock body%}