{% extends "adminbase.html" %}
{% block body %}
   <h3 style="text-align:center; color:#000000">
       Booking of Agro products
   </h3>
   <div class="row">
       <div class="col-sm-3"></div>
       <div class="col-sm-6">
           <form action="{% url 'adminapp:pbook' %}" method="post">
               {% csrf_token %}
               <div class="form-group">
                   <label>Name</label>
                   <input type="text" name="name" class="form-control" value="{{fi.name}}" readonly="true"/>
               </div>
               <div class="form-group">
                   <label>Address</label>
                   <textarea name="address" class="form-control"  readonly="true">{{fi.address}} </textarea>
               </div>
               <div class="form-group">
                   <label>Contract No</label>
                   <input type="number" class="form-control" name="contactno" value="{{fi.contactno}}" readonly="true"/>
               </div>
               <div class="form-group">
                   <label>Aadhaar No </label>
                   <input type="number" class="form-control" name="aadhaarno" value="{{fi.aadhaarno}}" readonly="true"/>
               </div>
               <div class="form-group">
                   <label>No of Packet</label>
                   <input type="number" class="form-control" name="noofpacket" required="true"/>
               </div>
               <div class="form-group">
                   <label>Duration in Months</label>
                   <input type="number" name="duration" class="form-control" required="true"/>
               </div>
               <div class="form-group">
                   <label>Rate per packet per month</label>
                   <input type="number" class="form-control" name="rate" required="true" />
               </div>
               <div class="form-group">
                   <label>Advance amount</label>
                   <input type="number" class="form-control" name="advance" required="true"/>
               </div>
               <div class="form-group">
                   <br/>
                   <input type="submit" value="sumbit" class="btn btn-danger  d-grid gap-1 col-3 mx-auto"/>
               </div>
           </form>
        </div>
       <div class="col-sm-3"></div>
   </div>
{% endblock %}