{% extends "adminbase.html" %}
{% block body %}
<h3 style="color:#050505; text-align:center; ">Change password page </h3>
    {% if msg %}
      <p style="text-align:center;"> {{msg}} </p>
    {% endif %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form  class="form-group text-center" action="{% url 'adminapp:changepwd' %}" method="post">
            {% csrf_token%}
            <div>
                 <label> Enter old Passsword</label>
            <input type="password" name="op" class="form-control " required="true">
            </div>
            <div>
                 <label> Enter New Passsword</label>
            <input type="password" name="np" class="form-control " required="true">
            </div>
            <div>
                 <label> Comfirm Passsword</label>
            <input type="password" name="cp" class="form-control " required="true">
            </div>
            <br/>
            <input type="Submit" value="Change" class="btn btn-danger d-grid gap-2 col-4 mx-auto ">
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock body %}